.clearfix {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

body {
	background-color: #96d6dd;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

header {
    background-color: #d37814;
    color: #fff;
	text-align: center;
	width: 100%;
}
h1 {
	display: inline;
	font-size: 400%;
	font-weight: 800;
	vertical-align: middle;
}

.logo {
	width: 100px;
}

aside {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 250px;
}

#image-container {
	background-color: #D7CA49;
	max-width: 60%;
    margin-left: auto;
    margin-right: auto;
	color: #888;
	text-align: center;
}

#image-container img {
	max-width: 150px;
}

@media only screen and (min-width: 768px) {
	aside {
		margin-right: 10px;
		margin-left: 60%;
		text-align: right;
		float: right;
		width: 250px;
	}
	#image-container {
		text-align: left;
	}
	#image-container img {
		max-width: 350px;
	}
} 

/*to do:
media query - center search bar and images at 360px, left align images and float bar to right at next break*/ 


